[class$="__m"] {
    display: none;
}
.wrapper {
    height: 100%;
    .section {
        background: white;
        padding-left: get-vw(100px);
        padding-right: get-vw(104px);
        .chapter {
            .number {
                @include font(32px, 500, 39.01px);
            }
            .text {
                @include font(32px, 300, 39.01px);
            }
        }
        .h2 {
            @include font(64px, 300, 78.02px);
            color: #000000;
        }
    }
    .main-section {
        height: 100vh;
        background: url("../images/base/ajy_1.webp") no-repeat center center;
        background-color: #e1eaf3;
        background-size: cover;
        .header {
            z-index: 15;
            padding-top: get-vh(43px, 1080);
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(get-vw(205px), 1fr));
            justify-items: center;
            align-items: center;
            .ico {
                display: none;
                opacity: 0;
            }
            .item {
                z-index: 15;
                @include font(24px, 300, 28.41px);
                color: #000000;
            }
            .item.logo {
                z-index: 15;
                width: get-vw(169px);
                height: get-vw(24px);
            }
        }
        .img-ajy_1__p {
            position: absolute;
            bottom: 0;
            width: auto;
            //width: auto;
            //top: 50%;
            left: 50%;
            transform: translate(-50%, 0);
            height: get-vh(1080px, 1080);
            z-index: 5;
        }
        .main-arrow-down {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            width: get-vw(70px, 1920);
            height: get-vw(70px, 1920);
            cursor: pointer;
            z-index: 10;
        }
        .main {
            z-index: 15;
            padding-top: get-vh(265px, 1080);
            position: relative;
            .text-bar {
                display: grid;
                grid-template-columns: get-vw(495px, 1920) get-vw(
                        525.43px,
                        1920
                    );
                justify-content: space-between;
                //grid-template-columns: repeat(2, 1fr);
                column-gap: get-vw(648px, 1920);
                .left-bar {
                    //padding-top: get-vh(154px, 1080);
                    .presenter {
                        padding-bottom: get-vh(229px, 1080);
                        .title {
                            @include font(24px, 300, 29.26px);
                        }
                        .sub-title {
                            margin-top: get-vh(12px, 1080);
                            @include font(64px, 400, 78.02px);
                        }
                    }
                    .button-catalog {
                        background-color: white;
                        text-decoration: none;
                        cursor: pointer;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        width: get-vw(437px, 1920);
                        height: get-vw(84px, 1920);
                        border: get-vw(3px, 1920) solid rgba(0, 86, 232, 1);
                        border-radius: get-vw(100px, 1920);
                        color: black;
                        @include font(28px, 300, 34.13px);
                        padding-left: get-vw(60px, 1920);
                        span {
                            width: get-vw(190px, 1920);
                            height: get-vw(62px, 1920);
                            border-radius: get-vw(100px, 1920);
                            background-color: rgba(0, 86, 232, 1);
                            margin-left: auto;
                            margin-right: get-vw(11px, 1920);
                            display: grid;
                            svg {
                                justify-self: center;
                                align-self: center;
                                width: get-vw(66px, 1920);
                                height: get-vw(15px, 1920);
                            }
                        }
                    }
                }
                .right-bar {
                    display: grid;
                    justify-items: right;
                    .about {
                        display: grid;
                        row-gap: get-vh(28.46px, 1080);
                        p {
                            text-align: right;
                            @include font(24px, 300, 29.28px);
                        }
                    }
                    .player {
                        position: relative;
                        margin-top: get-vh(86px, 1080);
                        video {
                            cursor: pointer;
                            width: get-vw(298.43px, 1920);
                            height: get-vw(401.26px, 1920);
                            object-fit: cover;
                            border-radius: 20px;
                        }
                        #gallery-videos-demo {
                            cursor: pointer;
                            width: get-vw(298px, 1920);
                            height: get-vw(401.26px, 1920);
                            border-radius: get-vw(20px, 1920);
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .icon-play {
                            cursor: pointer;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: get-vw(107.3px, 1920);
                            height: get-vw(107.3px, 1920);
                            svg {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
            .car-item {
                position: absolute;
                top: get-vh(178px, 1080);
                left: get-vw(525px, 1920);
                width: get-vw(1295px, 1920);
                height: get-vh(830px, 1080);
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    .sticky-header {
        //height: get-vw(140px, 1920);
        background-color: rgba(225, 234, 243, 1);
        padding-left: get-vw(183px, 1920);
        padding-right: get-vw(183px, 1920);
        padding-top: get-vw(15px, 1920);
        padding-bottom: get-vw(22px, 1920);
        position: sticky;
        top: 0;
        z-index: 1000;
        p {
            text-align: center;
            @include font(24px, 300, 29.26px);
            color: rgba(0, 0, 0, 0.5);
        }
        .category-items {
            margin-top: get-vw(18.5px, 1920);
            display: flex;
            justify-content: space-between;
            p {
                @include font(30px, 300, 36.57px);
                color: rgba(0, 0, 0, 0.5);
                cursor: pointer;
            }
        }
    }
    .section-about {
        .scroll_arrow_up__m {
            cursor: pointer;
            display: none;
            width: get-vw(75px, 1920);
            height: get-vw(75px, 1920);
            right: get-vw(10px, 1920);
            bottom: get-vw(75px, 1920);
            position: fixed;
            z-index: 9999;
            svg {
                width: 100%;
                height: 100%;
            }
        }
        padding-top: get-vh(84px, 1080);
        padding-left: 0;
        padding-right: get-vw(182px, 1080);
        padding-bottom: get-vw(180px, 1920);
        .chapter {
            padding-left: get-vw(100px);
        }
        .about-group {
            padding-top: get-vw(86px, 1920);
            padding-bottom: get-vw(107px, 1920);
            display: grid;
            grid-template-columns: get-vw(730.5px, 1920) get-vw(852px, 1920);
            column-gap: get-vw(156px, 1920);
            height: get-vw(592.57px, 1920);
            .block-image {
                background-image: url("../images/base/about_image.webp");
                background-size: contain;
                background-repeat: no-repeat;
            }
            .block-text {
                padding-top: get-vw(50px, 1920);
                padding-bottom: get-vw(63px, 1920);
                @include font(36px, 300, 43.88px);
            }
        }
        .about-cards {
            padding-left: get-vw(100px);
            padding-right: get-vw(104px);
            display: grid;
            grid-template-columns: repeat(3, get-vw(530px, 1920));
            column-gap: get-vw(67px, 1920);
            .card-item {
                height: get-vw(670px, 1920);
                padding-left: get-vw(50px, 1920);
                padding-right: get-vw(50px, 1920);
                padding-top: get-vw(34px, 1920);
                border: get-vw(4px, 1920) solid rgba(0, 86, 232, 1);
                border-radius: get-vw(30px, 1920);
                .title {
                    @include font(36px, 400, 43.88px);
                }
                .text {
                    @include font(24px, 300, 29.26px);
                    padding-top: get-vw(49px, 1920);
                    .blue {
                        color: rgba(0, 86, 232, 1);
                        font-weight: 400;
                    }
                }
            }
        }
    }
    .section-faq {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: get-vw(231px, 1920);
        .chapter {
            padding-left: get-vw(100px);
        }
        .section-title {
            text-align: center;
        }
        .faqs {
            padding-top: get-vw(128px, 1920);
            .accordion {
                border-bottom: 3px solid #0056e8;
                padding-left: get-vw(100px, 1920);
                @include font(40px, 400, 96px);
                color: #000000;
                cursor: pointer;
                position: relative;
                &::before,
                &::after {
                    content: "";
                    width: get-vw(50px, 1920);
                    height: get-vw(3px, 1920);
                    background-color: #0056E8;
                    vertical-align: middle;
                    display: inline-block;
                    position: absolute;
                    transition: all 0.3s ease;
                }
                &::before {
                    
                    
                   
                    
                    // background-size: contain;
                    // background-repeat: no-repeat;
                    
                    right: get-vw(191px, 1920);
                    top: 50%;
                    transform: translateY(-50%);
                }
                &::after {
                    //content: "";
                    //width: get-vw(50px, 1920);
                    
                    // background-color: #0056E8;
                    // background-size: contain;
                    // background-repeat: no-repeat;
                    // vertical-align: middle;
                    // display: inline-block;
                    // position: absolute;
                    right: get-vw(165px, 1920);
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(90deg);
                }
                &.active {
                    &::after {
                        transform: translate(-50%, -50%) rotate(0deg);
                    }
                }
            }
            .accordion-content {
                &.active {
                    margin-bottom: get-vw(101px, 1920);
                }
                padding-left: get-vw(235px, 1920);
                padding-right: get-vw(236px, 1920);
                background-color: #e1eaf3;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
                p {
                    padding-top: get-vw(97.47px, 1920);
                    padding-bottom: get-vw(96.74px, 1920);
                    @include font(32px, 300, 39.01px);
                }
            }
        }
    }
    .section-order {
        padding-left: 0;
        padding-right: 0;
        position: relative;
        z-index: 2000;
        .chapter {
            padding-left: get-vw(100px);
        }
        .section-title {
            text-align: center;
            padding-top: get-vw(90px, 1920);
        }
        .products-block {
            position: relative;
            z-index: 2000;
            background-color: white;
            padding-top: get-vw(128px, 1920);
            .categories {
                padding-left: get-vw(182px, 1920);
                padding-right: get-vw(181px, 1920);
                padding-bottom: get-vw(33px, 1920);
                border-bottom: 3px solid #0056e8;
                display: flex;
                justify-content: space-between;
                .category-item {
                    @include font(30px, 300, 36.57px);
                    color: #00000080;
                    cursor: pointer;
                    &.current {
                        color: #0056e8;
                        text-decoration: underline;
                        text-underline-offset: get-vw(8px, 1920);
                    }
                }
            }
            $transition-duration: 0.3s;
            $translate-distance: get-vw(15px, 1920);
            
            // $transition-duration: 0.3s;
            // $scale-factor: 1.05;
            .products {
                padding-top: get-vw(100px, 1920);
                padding-left: get-vw(182px, 1920);
                padding-right: get-vw(181px, 1920);
                display: grid;
                row-gap: get-vw(100px, 1920);
                grid-template-columns: repeat(3, get-vw(481px, 1920));
                column-gap: get-vw(60px, 1920);
                .card {
                    transition: transform $transition-duration ease-out;
                    transition: transform $transition-duration ease-out;
                    &:hover {
                        transform: translateY(-$translate-distance);
                    }
                    
                    // &:hover {
                    //     transform: scale($scale-factor);
                    // }
                    cursor: pointer;
                    width: get-vw(481px, 1920);
                    height: get-vw(546px, 1920);
                    border: get-vw(3px, 1920) solid rgba(0, 86, 232, 1);
                    border-radius: get-vw(30px, 1920);
                    img {
                        border-radius: get-vw(30px, 1920);
                        width: get-vw(475px, 1920);
                        height: get-vw(292px, 1920);
                        object-fit: fill;
                    }
                    .car-title {
                        padding-left: get-vw(39px, 1920);
                        padding-top: get-vw(10px, 1920);
                        @include font(36px, 400, 42.66px);
                        color: #000000;
                    }
                    .car-year {
                        padding-left: get-vw(39px, 1920);
                        padding-top: get-vw(10px, 1920);
                        @include font(24px, 300, 28.44px);
                        color: #000000;
                    }
                    .button-more {
                        margin-top: get-vw(42px, 1920);
                        margin-left: get-vw(39px, 1920);
                        margin-right: get-vw(39px, 1920);
                        // margin-right: get-vw(39px, 1920);
                        text-decoration: none;
                        cursor: pointer;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        width: get-vw(403px, 1920);
                        height: get-vw(73px, 1920);
                        border: get-vw(3px, 1920) solid rgba(0, 86, 232, 1);
                        border-radius: get-vw(100px, 1920);
                        color: black;
                        @include font(24px, 300, 29.26px);
                        span.text {
                            margin-left: get-vw(40px, 1920);
                        }
                        span.aggregate {
                            width: get-vw(151px, 1920);
                            height: get-vw(51px, 1920);
                            border-radius: get-vw(100px, 1920);
                            background-color: rgba(0, 86, 232, 1);
                            margin-left: auto;
                            margin-right: get-vw(11px, 1920);
                            display: grid;
                            svg {
                                justify-self: center;
                                align-self: center;
                                width: get-vw(59px, 1920);
                                height: get-vw(13px, 1920);
                            }
                        }
                    }
                }
            }
            .pagination {
                margin-top: get-vw(100px, 1920);
            }
        }
    }
    .section-advertising {
        position: relative;
        background-color: rgba(225, 234, 243, 1);
        margin-top: get-vw(210px, 1920);
        padding-left: get-vw(178px, 1920);
        padding-bottom: get-vw(66px, 1920);
        .tagline {
            padding-top: get-vw(63px, 1920);
            @include font(60px, 300, 73.14px);
            color: rgba(0, 0, 0, 1);
        }
        .button-contact {
            margin-top: get-vw(74px, 1920);
            text-decoration: none;
            cursor: pointer;
            display: flex;
            justify-content: start;
            align-items: center;
            width: get-vw(403px, 1920);
            height: get-vw(73px, 1920);
            border: get-vw(3px, 1920) solid rgba(0, 86, 232, 1);
            border-radius: get-vw(100px, 1920);
            color: black;
            @include font(24px, 300, 29.26px);
            span.text {
                margin-left: get-vw(40px, 1920);
            }
            span.aggregate {
                width: get-vw(151px, 1920);
                height: get-vw(51px, 1920);
                border-radius: get-vw(100px, 1920);
                background-color: rgba(0, 86, 232, 1);
                margin-left: auto;
                margin-right: get-vw(11px, 1920);
                display: grid;
                svg {
                    justify-self: center;
                    align-self: center;
                    width: get-vw(59px, 1920);
                    height: get-vw(13px, 1920);
                }
            }
        }
        .tagline-image {
            width: get-vw(806px, 1920);
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .section-cases {
        margin-top: get-vw(120px, 1920);
        padding-left: 0;
        padding-right: 0;
        .chapter {
            padding-left: get-vw(100px);
        }
        .outer-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            justify-content: center;
            position: relative;
            z-index: 100;
            .background {
                background-color: rgba(225, 234, 243, 1);
                width: get-vw(1344px, 1920);
                height: get-vw(864px, 1920);
                position: absolute;
                top: get-vw(90px, 1920);
                border-radius: get-vw(40px, 1920);
                height: 100%;
            }
            .wrapper-case-papper {
                margin-top: get-vw(90px, 1920);
                width: get-vw(1722px, 1920);
                .swiper {
                    top: get-vw(87px, 1920);
                    position: relative;
                    height: get-vw(595px, 1920);
                }
                .case-pagination {
                    margin-top: get-vw(157.5px, 1920);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: get-vw(59px, 1920);
                    .case-about {
                        display: none;
                        width: get-vw(752px, 1920);
                        z-index: 200;
                        .title {
                            @include font(36px, 400, 43.88px);
                            color: rgba(0, 0, 0, 1);
                        }
                        .description {
                            margin-top: get-vw(20px, 1920);
                            @include font(24px, 300, 29.26px);
                            color: rgba(0, 0, 0, 1);
                        }
                    }
                    .to-prev,
                    .to-nex {
                        z-index: 200;
                        cursor: pointer;
                        height: get-vw(42px, 1920);
                        width: get-vw(42px, 1920);
                        background-color: #0056e8;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .arrow {
                            width: get-vw(23px, 1920);
                            height: get-vw(5px, 1920);
                        }
                    }
                }
            }
        }
    }
    .section-contact {
        margin-top: get-vw(210px, 1920);
        padding-left: 0;
        padding-right: 0;
        .chapter {
            padding-left: get-vw(100px);
        }
        .contact-wrapper {
            margin-top: get-vw(178px, 1920);
            margin-left: get-vw(177px, 1920);
            margin-right: get-vw(185px, 1920);
            display: grid;
            grid-template-columns: get-vw(599px, 1920) get-vw(893px, 1920);
            column-gap: get-vw(66px, 1920);
            .social {
                .tagline {
                    @include font(32px, 300, 39.01px);
                    color: rgba(0, 0, 0, 1);
                }
                .social-icon {
                    display: flex;
                    column-gap: get-vw(72px, 1920);
                    margin-top: get-vw(81px, 1920);
                    a {
                        display: inline-block;
                        width: get-vw(72px, 1920);
                        height: get-vw(72px, 1920);
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .contact-phone {
                    margin-top: get-vw(81px, 1920);
                    a {
                        @include font(36px, 300, 43.88px);
                        color: rgba(0, 0, 0, 1);
                    }
                }
                .contact-address {
                    margin-top: get-vw(19px, 1920);
                    p {
                        @include font(36px, 300, 43.88px);
                        color: rgba(0, 0, 0, 1);
                    }
                }
            }
            .form {
                form {
                    display: grid;
                    input,
                    textarea {
                        &::placeholder {
                            @include font(32px, 300, 39.01px);
                            color: rgba(0, 0, 0, 0.5);
                        }
                        outline: none;
                        border-color: rgba(0, 86, 232, 1);
                        border-width: get-vw(3px, 1920);
                        border-style: solid;
                        border-radius: get-vw(30px, 1920);
                        padding-left: get-vw(51px, 1920);
                        @include font(32px, 300, 39.01px);
                        color: rgba(0, 0, 0, 0.5);
                    }
                    .error {
                        display: none;
                        @include font(16px, 300, 34.01px);
                        color: #a10808;
                        padding-left: get-vw(30px, 1920);
                    }
                    input {
                        height: get-vw(100px, 1920);
                        &[name="phone"] {
                            margin-top: get-vw(45px, 1920);
                        }
                    }
                    textarea {
                        margin-top: get-vw(45px, 1920);
                        padding-top: get-vw(31px, 1920);
                        resize: none;
                    }
                    .g_policy {
                        margin-top: get-vw(16px, 1920);
                        @include font(20px, 300, 24.38px);
                        color: rgba(0, 0, 0, 1);
                        text-align: center;
                        #policy {
                            color: rgba(24, 79, 171, 1);
                            text-decoration: underline;
                            text-underline-offset: get-vw(8px, 1920);
                            cursor: pointer;
                        }
                    }
                    button {
                        margin-top: get-vw(45px, 1920);
                        background-color: white;
                        cursor: pointer;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        width: get-vw(403px, 1920);
                        height: get-vw(73px, 1920);
                        border: get-vw(3px, 1920) solid rgba(0, 86, 232, 1);
                        border-radius: get-vw(100px, 1920);

                        justify-self: center;
                        span.text {
                            padding-left: get-vw(40px, 1920);
                            @include font(24px, 300, 29.26px);
                            color: rgba(0, 0, 0, 1);
                        }

                        span.aggregate {
                            width: get-vw(151px, 1920);
                            height: get-vw(51px, 1920);
                            border-radius: get-vw(100px, 1920);
                            background-color: rgba(0, 86, 232, 1);
                            margin-left: auto;
                            margin-right: get-vw(11px, 1920);
                            display: grid;
                            svg {
                                justify-self: center;
                                align-self: center;
                                width: get-vw(59px, 1920);
                                height: get-vw(13px, 1920);
                            }
                        }
                    }
                }
            }
        }
    }
    .section-map {
        margin-top: get-vw(210px, 1920);
        height: get-vw(536px, 1920);
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    footer {
        display: grid;
        padding-left: get-vw(179px, 1920);
        padding-right: get-vw(185px, 1920);
        padding-top: get-vw(60px, 1920);
        padding-bottom: get-vw(57px, 1920);
        background-color: rgba(225, 234, 243, 1);
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        .footer-left {
            img {
                width: get-vw(225px, 1920);
                margin-bottom: get-vw(43px, 1920);
            }
            p {
                @include font(30px, 300, 39.01px);
                color: rgba(0, 0, 0, 1);
            }
        }
        .footer-right {
            align-self: self-end;
            .social-icon {
                display: flex;
                column-gap: get-vw(40px, 1920);
                justify-content: end;
                a {
                    display: inline-block;
                    width: get-vw(72px, 1920);
                    height: get-vw(72px, 1920);
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .contact-phone {
                text-align: right;
                margin-top: get-vw(20px, 1920);
                a {
                    @include font(30px, 300, 39.01px);
                    color: rgba(0, 0, 0, 1);
                }
            }
            .contact-address {
                text-align: right;
                margin-top: get-vw(20px, 1920);
                p {
                    @include font(30px, 300, 39.01px);
                    color: rgba(0, 0, 0, 1);
                }
            }
        }
    }
}

.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        &.prev {
            margin-right: get-vw(100px, 1920);
        }
        &.next {
            margin-left: get-vw(100px, 1920);
        }
        &.disable_href {
            .dot {
                background-color: #00000080;
            }
        }
        .dot {
            height: get-vw(42px, 1920);
            width: get-vw(42px, 1920);
            background-color: #0056e8;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            .arrow {
                width: get-vw(23px, 1920);
                height: get-vw(5px, 1920);
            }
        }
    }
    .pages {
        display: flex;
        column-gap: get-vw(43px, 1920);
        .page {
            @include font(36px, 400, 43.88px);
            color: #0056e8;
            &.current {
                color: #00000080;
            }
        }
    }
}

.swiper-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.swiper-slide {
    //width: get-vw(427px, 1920);
    img {
        scale: 0.56;
    }
    &-prev,
    &-next {
        img {
            scale: 0.56;
        }
    }
    width: get-vw(752px, 1920);
    //height: get-vw(317px, 1920);
    transition: transform 0.8s ease;
    &-active {
        img {
            scale: 1;
        }
    }
    img {
        width: 100%;
        //height: 100%;
        height: auto;
        min-height: 100%;
        border-radius: get-vw(30px, 1920);
    }
}
